PORT=3000
NODE_ENV=development
APP_DEBUG = true

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret